{% extends "base.html" %}

{% block main %}

<h2>БЛЮДА</h2>

	<ul>
		{% for dish in dish_list %}
			<li>{{ dish.name|capfirst }} {{ dish.price }} - <a href="/dishedit/{{ dish.id }}/">изменить</a> </li>
		{% endfor %}
	</ul>

	<ul>
		{% if dish_list %}
			Количество блюд: {{ dish_list|length }}
		{% else %}
			Нет блюд.
		{% endif %}
	</ul>
	<ul>
		<option><a href="/dishes/?ordering=name">сортировать по имени</a><br></option>
		<option><a href="/dishes/?ordering=price">сортировать от дешевых к дорогим</a><br></option>
		<option><a href="/dishes/?ordering=-price">сортировать от дорогих к дешевым</a><br></option>
	</ul>
	<ul>
	{% include "dish_add.html" %}
	{% include "change_price.html" %}
	</ul>

{% endblock %}